<%= form_with(model: attachment, local: true) do |form| %>
  <% if attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin-top: 20px;">
    <%= form.file_field :images,multiple: true,class: "form-control-file" %>
  </div>

  <div class="form-group" style="margin-top: 20px;">
    <%= form.submit 'Upload Images',class: "btn btn-primary" %>
  </div>
<% end %>
